//声明变量
@baseColor:yellow;
//less 注释
/* css注释 */

//混入：就是js中的函数
//创建一个具有默认值的函数
.borderRadious(@radius:5px){
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    -o-border-radius:@radius;
    border-radius:@radius;
}

#div{
    background-color: red;
    //后代选择器
    a{
        background-color: #fff;
    }
    // 子代选择器
    > p{
        background-color: #fff;
    }
    // 并集选恶气
    div,p,.clasName,#id{
        background-color: #fff;
    }
    //交集选择器
    a:hover{
        background-color: #fff;
    }
    a{
        //交集选择器
        &:hover{
            background-color: #fff;
        }
    }
}