div {
  background-color: red;
}
div {
  -webkit-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
}
#div {
  background-color: red;
}
#div a {
  background-color: #fff;
}
#div > p {
  background-color: #fff;
}
#div div,
#div p,
#div .clasName,
#div #id {
  background-color: #fff;
}
#div a:hover {
  background-color: #fff;
}
#div a:hover {
  background-color: #fff;
}
